.gallery {
  height: 800px;

  &__top {
    display: flex;
    justify-content: space-between;

    padding-bottom: 50px;
  }

  &__heading {
    font-size: 44px;

    padding-top: 30px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.4;
    
    width: 415px;

    padding-top: 45px;
  }

  &__image {
    width: 70%;
    height: 800px;
    transform: translate(270px, 0);

    transition-duration: 2s;
    animation: slide 1s linear;
    animation-delay: 2s;

    &.active {
      transform: translate(37.7%, -9.4%) scale(1.2);
    }
  }
}

@keyframes slide {
  0% { left: 0; }
  100% { left: 100%; }
}
