.toggle {
  display: flex;
  justify-content: space-between;

  border-radius: 34px;
  background-color: $toggle-background;

  font-size: 14px;
  width: 127px;
  height: 37px;
  padding: 3px;

  &__item {
    padding: 8px 12px;
    border-radius: 34px;

    font-weight: 500;

    cursor: pointer;
    
    &--active {
      color: $toggle-color-active;
      background-color: $toggle-background-active;
    }
  }
}
