$text-color: #404040;

$toggle-background-active: #5a30f0;
$toggle-background: #fff;
$toggle-color: #636c81;
$toggle-color-active: #fff;

$box-background-color: #f3f6fb;

$page-width: 1440px;

$menu-background-color: #5a30f0;
$menu-text-color: #fff;
